.calibre {
    display: block;
    font-family: "Book Antiqua", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-justify-trim: punctuation;
    margin: 0 5pt
    }
.calibre1 {
    font-family: "Book Antiqua", "serif";
    font-size: 1.41667em;
    line-height: 1
    }
.calibre2 {
    display: block;
    line-height: 1
    }
.calibre3 {
    color: gray;
    display: block;
    height: 2px;
    text-align: center;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre4 {
    color: windowtext;
    text-decoration: none
    }
.calibre5 {
    height: 31px;
    width: 88px
    }
.calibre6 {
    font-family: "Book Antiqua", "serif";
    font-size: 1em
    }
.calibre7 {
    display: block
    }
.calibre8 {
    font-style: italic
    }
.calibre9 {
    display: block
    }
.calibre10 {
    font-weight: bold
    }
.calibre11 {
    font-family: "Book Antiqua", "serif";
    font-size: 1.125em
    }
.e-booklicenceobrazek {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 0.75em;
    text-align: center;
    margin: 6pt 0 4.5pt
    }
.e-booklicencetext {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 0.75em;
    text-align: center;
    margin: 0 0 0.0001pt
    }
.e-booklicencetexthypertext9bchar {
    color: blue;
    font-family: "Book Antiqua", "serif";
    text-decoration: underline
    }
.e-booknadpis3probasne {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1.125em;
    font-weight: bold;
    page-break-after: avoid;
    margin: 12pt 0 6pt 35.45pt
    }
.e-bookobsah {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 12pt
    }
.e-bookodsazeniodstavcepredaza {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    margin: 13pt 0
    }
.e-bookodsazeniodstavceza {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 13pt
    }
.e-bookprozatext {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0.0001pt
    }
.e-bookprozatext1 {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 14.2pt;
    margin: 0 0 0.0001pt
    }
.e-bookprozatextkurzivadoprava {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1em;
    font-style: italic;
    text-align: right;
    margin: 0 0 0.0001pt
    }
.e-bookprozatextuprostred {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1em;
    text-align: center;
    margin: 12pt 0
    }
.e-bookprozatextuprostredkurziva {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1em;
    font-style: italic;
    text-align: center;
    margin: 12pt 0
    }
.e-booktextvenovanicxspfirst {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1em;
    font-style: italic;
    text-align: center;
    margin: 120pt 0 0.0001pt
    }
.e-booktextvenovanicxsplast {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1em;
    font-style: italic;
    text-align: center;
    margin: 0 0 12pt
    }
.e-booktextvenovanicxspmiddle {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1em;
    font-style: italic;
    text-align: center;
    margin: 0 0 0.0001pt
    }
.e-booktirazacitacetext {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1em;
    text-align: justify;
    margin: 0 0 0.0001pt
    }
.e-booktirazacitacetext1 {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1em;
    text-align: center;
    margin: 0 0 0.0001pt
    }
.e-booktirazacitacetextkurzivachar {
    font-family: "Book Antiqua", "serif";
    font-style: italic
    }
.e-booktirazautoradilo {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1.29em;
    font-weight: bold;
    margin: 0 0 0.0001pt
    }
.e-booktiraztexttucnechar {
    font-family: "Book Antiqua", "serif";
    font-weight: bold
    }
.e-booktitulkaautor {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1.41667em;
    line-height: 1;
    text-align: center;
    text-autospace: none;
    margin: 12pt 0 0.0001pt
    }
.e-booktitulkadilo {
display: block;
font-family: "Book Antiqua", "serif";
font-size: 1.8em;
text-align: center;
text-autospace: none;
margin: 100pt 0 0 0
} 


.e-bookversebezpredsazeni6bza {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1em;
    margin: 6pt 0 6pt 35.45pt
    }
.msonormal {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1em;
    margin: 0 0 0.0001pt
    }
.msotoc {
    display: block;
    font-family: "Book Antiqua", "serif";
    font-size: 1em;
    margin: 0 0 0.0001pt 22pt
    }
.styltextkurzvazarovnnnastedvlevo07cmprvnd {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    font-style: italic;
    text-indent: -13.85pt;
    margin: 12pt 0 12pt 76.55pt
    }
.styltextkurzvazarovnnnastedvlevo07cmprvnd1 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    font-style: italic;
    text-indent: -11pt;
    margin: 12pt 0 12pt 76.55pt
    }
.styltextkurzvazarovnnnastedvlevo07cmprvnd2 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    font-style: italic;
    text-indent: -19.55pt;
    margin: 12pt 0 12pt 76.55pt
    }
.styltextkurzvazarovnnnastedvlevo07cmprvnd3 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    font-style: italic;
    text-indent: -25.25pt;
    margin: 12pt 0 12pt 101.8pt
    }
.styltextkurzvazarovnnnastedvlevo07cmprvndcxspfirst {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    font-style: italic;
    text-indent: -13.85pt;
    margin: 12pt 0 0.0001pt 76.55pt
    }
.styltextkurzvazarovnnnastedvlevo07cmprvndcxsplast {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    font-style: italic;
    text-indent: -11.35pt;
    margin: 0 0 12pt 57pt
    }
.text {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: left;
    text-indent: 17.1pt;
    margin: 12pt 0 0.0001pt 45.6pt
    }
.text1 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: left;
    text-indent: 5.65pt;
    margin: 0 0 12pt 45.65pt
    }
.wordsection {
    display: block;
    page: WordSection1
    }
.wordsection1 {
    display: block;
    page: WordSection2
    }
.wordsection2 {
    display: block;
    page: WordSection3
    }
.wordsection3 {
    display: block;
    page: WordSection4
    }
.wordsection4 {
    display: block;
    page: WordSection5
    }
.wordsection5 {
    display: block;
    page: WordSection6
    }
.pcalibre:link {
    color: blue;
    font-family: "Book Antiqua", "serif";
    text-decoration: underline
    }
.pcalibre1:visited {
    color: purple;
    text-decoration: underline
    }
